#container{
    display: flex;
    border: 1px solid black;
    height: auto;
  }
  #sidebar{
    flex: 3;
    border: 1px solid black;
    line-height: 180%;
  }
  #main{
    flex: 7;
    border: 1px solid black;
    
  }
  #main>div{
      display: flex;
      margin: 30px;
      border: 1px solid red;
      justify-content: space-between;
  }
  #main>div>p{
     flex: 3;
      height: auto;
      margin: 10px;

  }
  #main>div>img{
      
    flex: 4;
      height: 200px;
      margin: 10px;
  }
  #article{
      display: flex;
      flex-direction: column;
  }